.user_login {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: 'Monserrat', sans-serif;
  /* background-color: rgb(192, 189, 189); */
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.25)), url('../../assets/candidates.webp');
    background-size: cover;
    background-position: center center;
    background-position: center top;
    background-repeat: no-repeat;
}

.user_login form {
  width: 30%;
  margin: 5rem auto;
  font-size: 1rem;
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
}

form h1 {
  text-align: center;
}

.logo_container {
  width: 40%;
  height: auto;
  margin: 0 auto;
  display: none;
}

img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.user_login .btn {
  width: 100%;
}

.error__message {
  font-size: .9rem;
  padding: 0 0.7rem;
  margin: 2px;
}