.user_container {
  font-size: 1rem;
  padding: 2rem;
  width: 100%;
}

.user_card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  width: 95%;
  margin: 1rem auto;
}

.user_header {
  display: flex;
  justify-content: space-around;
  margin-top: 0;
  padding-top: 0;
}

.user-top p {

}