.admin_container {
  display: flex;
  height: 100vh;
  overflow-x: hidden;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 15%;
  background-color: rgb(13, 110, 253);
  color: #fff;
  overflow-y: auto; /* Enable vertical scrolling for the sidebar if needed */
  /* flex: 0 0 auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.admin_components {
  flex: 1; /* Content area will grow to fill available space */
  padding: 2rem;
  margin-left: 15%;
  overflow: hidden auto;
  font-family: 'Monserrat', sans-serif;
  background-image: linear-gradient(to right, rgb(231, 233, 235), rgba(230, 230, 230, 0.4)), url('../../assets/candidates.webp');
  background-size: cover;
  /* background-color: rgba(189, 189, 201, 0.5); */
  /* background-position: center center; */
  background-position: center top;
  background-repeat: no-repeat;
}

/* Sidebar scrollbar */
.sidebar::-webkit-scrollbar {
  width: 8px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #88888866;
  /* Color of the thumb */
  border-radius: 4px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background-color: #88888880;
  /* Color of the thumb on hover */
}

/* Admin components scrollbar */
.admin_components::-webkit-scrollbar {
  width: 8px;
}

.admin_components::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 6px;
}

.admin_components::-webkit-scrollbar-thumb:hover {
  background-color: #88888880;
}
