.nav-bar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  padding: 1rem;
  font-size: 1rem;
  /* color: #fff; */
}

.header {
  text-align: center;
}

a {
  text-decoration: none;
  color: #000;
  transition: .195s;
}

a:hover {
  color: blue;
}

.navbar__list {
  list-style-type: none;
  padding: 0.5rem 0;
}

.nav__item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  transition: .195s;
}

.nav__item:hover {
  background-color: rgba(214, 218, 221, 0.75);
  border-radius: 5px;
}

.nav__item span {
  padding: 0 0.3rem;
}