@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-y: hidden;
}

a {
  text-decoration: none;
  color: #000;
  transition: .195s;
}

a:hover {
  color: blue;
}
